@CHARSET "UTF-8";
/* css document */
.comWidth{width:1000px; margin-left:auto; margin-right:auto; }
.leftArea{float: left; }
.rightArea{float: right; }

/* topbar line-height: 31; */
.topBar{height: 31px; background-color: #f7f7f7;line-height: 31px; }
.collection{background:url(../images/icon/collection.jpg) left center no-repeat; padding-left: 19px; font-weight: bold;}
.topBar a:hover {color: red; }

/* logo */
.logoBar{height: 85px; background-color: #1d7ad9;}
.logo{padding-left: 41px; padding-top: 5px; }

/* search */
.search_box{width: 430px; padding-top: 23px; padding-left: 145px;}
/* .search_text{width: 360px; height: 14px; line-height: 14px; padding: 11px 0px 11px; background-color: #fff;} */
.search_text{width: 350px; height: 35px; line-height: 35px\9; padding: 0 5px;background-color: #fff;} 
.search_button{width: 70px; height: 35px; font-size: 14px; 
font-family: "Microsoft YaHei", "微软雅黑";
background-color: #ff8c00; color: #fff; }

/* shopCar */
.shopCar{width: 145px;height: 35px; background-color: #ff8c00; margin-top: 23px;
font: 14px/35px "Microsoft YaHei", "微软雅黑"; color: #fff;
margin-right:59px;
}
.shopText{
/* height: 100%;  */
height: 100%;width: 67px; border-right: #E27a00 solid 1px;
background:url(../images/icon/shop.jpg) 0px center no-repeat; 
text-indent: 15px; 
padding-top: 1px;
padding-left: 10px;
}
.shopNum{
height: 35px; width: 27px; border-right: #FF9c01 solid 1px; 
background:url(../images/icon/sj.jpg) 33px center no-repeat; 
text-align: right; 
padding-top: 0px; padding-right: 39px;
}

/* search_list */
.search_list{width: 145px;height: 35px; background-color: #ff8c00; margin-top: 23px; margin-right: 39px;
font: 14px/35px "Microsoft YaHei", "微软雅黑"; color: #fff;}
.search_list_text{
/* height: 100%;  */
width: 57px; border-right: #E27a00 solid 1px;
background:url(../images/icon/shop.jpg) 1px center no-repeat; 
text-indent: 15px; 
padding-top: 1px;
padding-left: 1px;
}
.search_list_struct{
height: 35px; width: 27px; border-right: #FF9c01 solid 1px; 
background:url(../images/icon/sj.jpg) 33px center no-repeat; 
text-align: right; 
padding-top: 1px; padding-right: 19px;
}
/* nav */
.navBox{ height: 35px; background-color: #1369c0; color: #fff}
.lend{width: 190px;}
.lend h3{text-align: center; line-height:35px;}
.lend i{width: 11px; height: 7px; overflow: hidden; 
background:url(../images/icon/down.jpg) left center no-repeat;
display: inline-block; margin-left: 1px;
}
/* .lend{font-family: "Microsoft YaHei", "微软雅黑"; } */

/*导航*/
.navBox{height:35px; background-color:#1369c0; color:#fff;}
.shopClass{width:190px;position:relative;}
.shopClass h3{text-align:center; line-height:35px;}
.shopClass i{width:11px; height:7px; overflow:hidden; background:
url(../images/icon/down.jpg) left center norepeat; display:inline-block;
margin-left:11px;}

/* nav */
.nav, .shopClass{font-family: "Microsoft YaHei", "微软雅黑"; }
.nav{ line-height: 35px;}
.nav li{float:left; height: 35px; display:inline-block; padding: 0 0px; color:#fff;}
.nav a{height: 35px; display:inline-block; padding: 0 45px; color:#fff;}
.nav .active{background-color: #4593fd;}

/*商品弹出列表*/
.shopClass_show{background-color: #4593fd; position:absolute; left:0; top:35px; width:100%; padding-bottom:1px;}
.shopClass_item{padding:13px 10px;border-bottom:#3487f2 solid 1px; 
border-top:#5aa1fe solid 1px; line-height:16px;}
.shopClass_item dt{height:21px;line-height:1; overflow:hidden; background:url(../images/icon/shop_sj.jpg)
right center no-repeat;}
.shopClass_item .b{font: 14px/1 "Microsoft YaHei", "微软雅黑";}
.shopClass_item a{color:#fff; }
.shopClass_item .aLink{width:48px; height:20px; background:
url(../images/icon/alink_bg.jpg); left center no-repeat; display:inline-block;
text-align: center; line-height:20px; text-decoration:underline;}

.shopList_item dd{		padding-left:68px; line-height:22px; margin-top: -24px;}
.shopList_item dd a{		margin-right:12px;}
.shopList_links{		padding:15px 0;}
.shopList_links a{		color:#fff; background-color: #2785e6; height: 26px;
line-height:26px; font-size: 12px; display: inline-block; padding:0 14px 0 8px;
margin-right:10px;}
.shopList_iinks span{	width:11px; height: 7px; background:
url(../images/icon/shop_sj.jpg) left center no-repeat; display: inline-block;
margin-left: 7px;}


/*banner部分*/
.banner{margin-bottom:15px;}
.banner_bar{ float:right; position:relative; overflow:hidden; }
.imgBox{position:absolute;left:-810px; top:0;}
.imgBox_sm{position:absolute;left:0; top:0;}
.imgBox li{float:left;}
.imgBox img{display:block;}
.imgNum{position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.imgNum a{width:20px; height:5px; overflow:hidden; background-color: #eee;display:inline-block;margin:0 3px;}
.imgNum .active{background-color: #ff7700;}

.banner_big,
.banner_big img{width:810px; height:326px;}
.banner_big .imgBox{width:1620px; height:326px;}

.banner_sm,
.banner_sm img{width:190px; height:400px;}
.banner_sm .imgBox{width:380px; height:400px;}

/*商品标题*/
.shopTit{height:44px; font-family:"Microsoft YaHei","微软雅黑"；line-height:44px;margin-bottom:15px;}
.shopTit h3{font-size:24px; float:left; font-weight:normal; padding-left:15px;padding-top:10px;}
.icon{width:44px;height:44px; background:url(../images/icon/shopIcon.jpg) left top no-repeat; float:left;}
.more{float:right; font-family:"宋体";padding-top:20px;}
.more:hover{text-decoration:underline;}

/*商品列表*/
.shopList .leftArea{width:190px;}
.shopList .rightArea{width:808px; border:#999 solid 1px; border-bottom:#ff7201 solid 3px; height: 396px; overflow:hidden;}

/*商品列表-右侧*/
.shopList{margin-bottom: 15px;}
.shopList_top,
.shopList_sm{margin-right:-4px;}
.shop_item{width:202px; border-right:#999 solid 1px; border-bottom:#999 solid 1px; height:279px;
text-align: center; font-family:"Microsoft YaHei", "微软雅黑"; float:left;}
.shop_img{height:218px;}
.shop_img img{width:100%; height:208px; display:block;}
.shop_item h3{font-size: 16px;}
.shop_item p{font-size: 14px; color:#ff7300; line-height:21px;}

/*商品列表-小*/
.shopItem_sm{width:202px; border-right:#999 solid 1px; height:110px; padding-top:6px; float:left;}
.shopItem_smImg{width:95px; height:95px; text-align:center; float:left;}
.shopItem_smImg img{width:95px; height:95px;}
.shopItem_text{padding-top:28px; width:100px; float:left;}
.shopItem_text p{color:#ff7300;}
.shopItem_text h3{font-family:"Microsoft YaHei", "微软雅黑"; font-size: 16px; font-weight:normal; color:#181818; line-height: 30px;}

/*底部*/
.footer{text-align:center; background-color:#d4d4d4; line-height:24px; padding:50px 0;}
.footer i{font-style:normal; margin:0 5px;}
.footer a{color: #000;}
.footer a:hover{color:#f60;}
.web{padding-top:30px;}
.web img{margin:0 12px;}
.hr_25{height:25px;}














































